.header {
  position: relative;
}

.header__contents {
  max-width: 1280px;
  padding: 30px;
  padding-top: 100px;
  margin: 0 auto;
}

.header__contents__logo {
  cursor: pointer;
  font-size: 28px;
  font-weight: 800;
  float: left;
}

.header__fonts__make {
  float: right;
  margin-left: 30px;
}

.header__fonts__make span {
  cursor: pointer;
  margin-left: 30px;
  font-size: 19px;
  font-weight: 700;
}
